<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pousadaria</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app" class="container">
    <div>
      <h1>Pousadaria</h1>      
      <div class="d-flex">
        <input class="search-input form-control mr-4" type="text" v-model="searchText" placeholder="Escreva aqui...">
        <button class="btn btn-success" type="button" v-on:click="getGuesthouses">Buscar</button>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="search-message text-center alert alert-warning" v-if="guesthouses.length <= 0 && !errorMessage">
          Nenhuma pousada encontrada!
        </div>
        <div class="d-flex flex-row justify-content-around mt-5">
          <div class="card text-center" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li v-for="guesthouse in guesthouses" class="list-group-item" v-on:click="getDetails(guesthouse.id)">
                {{ guesthouse.brandName }}
              </li>
            </ul>
          </div>

          <section v-if="showGuesthouseDetails">
            <h3>{{ brandName }}</h3>
            <p>{{ description }}</p>
            <p>Contato: {{ phoneNumber }}</p>
            <p>E-mail: {{ email }}</p>
            <p>{{ petFriendly }}</p>
            <p>{{ usagePolicy }}</p>
            <p>{{ address }} - {{ neighbourhood }} {{ city }} - {{ state }}</p>

            <p> Essa pousada tem {{ rooms.length }} quartos </p>
            <button type="button" class="btn btn-secondary" v-on:click="RoomsList(rooms)">Ver quartos</button>      
            <div v-if="showGuesthouseRoomDetails">
              <ul>
                <li v-for="room in rooms">
                  <h3>{{ room.name }}</h3>
                  <p>{{ room.description }}</p>
                  <p>Valor: {{ room.price }}</p>
                  <p>Área: {{ room.size }} m²</p>
                  <p>Capacidade máxima para {{ room.maxPeople }} pessoas</p>
                  <button type="button" class="btn btn-secondary" v-on:click="hideForm(room.id)">Verificar disponibilidade</button>   
                  <div v-if="roomId == room.id">
                    <label for="startDate" class="form-label">Entrada:</label>
                    <input type="date" v-model="startDate" class="form-control" id="startDate"> 
                    <label for="endDate" class="form-label">Saída:</label>
                    <input type="date" v-model="endDate" class="form-control" id="endDate">
                    <label for="numberGuests" class="form-label">Número de hóspedes:</label>
                    <input type="number" v-model="numberGuests" class="form-control" id="numberGuests">
                    <br><button class="btn btn-success" v-on:click="availability(room.id)">Consultar</button>
                  </div>
                </li>
              </ul>
            </div>
          </section>

          <section v-if="showAvailabilityForm">
            <div v-if="available === true" class="alert alert-success">
              <p>Período disponível!</p>
              <p>Valor total: R$ {{ bookingPrice }}</p>
            </div>
            <div v-else-if="available === false" class="alert alert-warning">
              <p>{{ errorMessage }}</p>
            </div>
            <div v-else-if="errors.length > 0" class="alert alert-warning">
              <ul>
                <li v-for="error in errors" :key="error">
                  <p>{{ error }}</p>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
